# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python compiled
*.pyc

# javascript bower
#/src/webapp/bower_components
#/src/webapp/node_modules/

# log
*.log
/src/logs/*

#pycharm
.idea/
/src/webapp/.idea/
/src/engine/.idea/

#backups
/src/backups/*

#uploads
/src/uploads/*

#docker run scripts
#run_docker_engine.py
#run_docker_webapp.py

#Generated certs
/src/install/viewer-certs/*.pem
/src/install/viewer-certs/*.csr
/src/test/
/src/install/viewer-certs/host_name

#Conf files
/src/isard.conf

#Csv files
#csv/

#Wizard disable
/src/install/.wizard
