<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta id="user-data" data-role="{{ current_user.role }}">

    <title>{{ title }} | Isard VDI</title>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    
    
    <link href="/static/build/isard-user.css" rel="stylesheet">
    
    <style>
        .dataTables_filter {float: left; position: absolute;}
        .dataTables_filter input { max-width:90px;}
   </style>
    <style>
    .roundbox{border-radius:4px;border:1px solid #AAAAAA;}
    </style>
    {% block css %}{% endblock %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
		{% include 'sidebar.html' %}
        <!-- top navigation -->
        {% include 'header.html' %}
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}      
        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        {% include 'footer.html' %}
        <!-- /footer content -->
      </div>
    </div>

	<div id="modal-lostconnection" class="modal fade" role="dialog" style="width:50%;margin-left:30%;margin-top:10%;z-index: 100000;">
	  <div class="modal-admin">
		<div class="modal-content">
            <div class="row text-center"><h2 style="margin-bottom:5px">Connection lost</h2></div>
            <hr>
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-12"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="row text-center">Unable to contact server. There should be a problem with network or a heavy load.</div>
                    <br>
                    <div class="row text-center">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Trying to reconnect...  
                    </div>
					<br>
				<div class="col-md-1 col-sm-1 col-xs-12">
				</div>	
            </div>
			
		</div>
	  </div>
	</div>

    <script src="/static/build/isard-user.js"></script>

    <!-- flashed messages with pnotify -->
    {% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		{% for category, message in messages %}
			<script type="text/javascript">
  			new PNotify({
				title: "{{ nav }}",
				text: "{{ message }}",
				hide: true,
				delay: 1000,
				//~ icon: 'fa fa-alert-sign',
				opacity: 1,
				type: "{{ category }}",
				stack: stack_center
			});
			</script>	
		{% endfor %}
	  {% endif %}
	{% endwith %}
            
    {% block pagescript %}{% endblock %}
  </body>
</html>
