<div class="modal fade" id="modalAddHyper" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-rocket"> </i>   Add new hypervisor
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
              <form id="modalAdd" class="form-horizontal form-label-left" action="{{ url_for('admin_hypervisors') }}" method="POST" novalidate>
			  <div class="x_panel">
					<div class="x_content">
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">Id <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="id" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="id" placeholder="New hypervisor id" required="required" type="text">
                        </div>
                     </div>
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="textarea" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>
				</div>
			  </div>

			  <div class="x_panel">
					 <div class="x_title">
						<h2>Network ssh info<small></small></h2>
						<ul class="nav navbar-right panel_toolbox">
						   <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						   </li>
						</ul>
						<div class="clearfix"></div>
					 </div>
					 <div class="x_content">

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hostname">Hostname <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="hostname" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="hostname" placeholder="Network ip/dns name" required="required" type="text">
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">User <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="user" class="form-control col-md-7 col-xs-12" name="user" placeholder="User used to connect" required="required" type="text">
                        </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SSH Port <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="port" class="form-control col-md-7 col-xs-12" name="port" placeholder="SSH port" required="required" type="text">
                        </div>
                     </div>
                </div>	
			  </div>

			  <div class="x_panel">
					 <div class="x_title">
						<h2>Capabilities & Pools<small></small></h2>
						<ul class="nav navbar-right panel_toolbox">
						   <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
						   </li>
						</ul>
						<div class="clearfix"></div>
					 </div>
					 <div class="x_content"> 
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-disk_operations">Disk operations
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                  <input type="checkbox" id="capabilities-disk_operations" name="capabilities-disk_operations" class="flat" checked="checked" style="position: absolute; opacity: 0;">
                                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                  </ins>
                              </div> Select if it can operate disks
                            </label>
                          </div>                
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-hypervisor">Hypervisor
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                  <input type="checkbox" id="capabilities-hypervisor" name="capabilities-hypervisor" class="flat" checked="checked" style="position: absolute; opacity: 0;">
                                  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                  </ins>
                              </div> Select if can launch desktops
                            </label>
                          </div>                
                        </div>
                     </div>

					<div class="item form-group">
						<label>Pools:</label>
                            <select class="form-control" id="hypervisors_pools" name="hypervisors_pools">
                            <option value="default" selected="selected">Default</option>
                            </select>
                    </div>                     
                </div>
            </div>
        </div>
                       
            <!-- Modal Footer -->
            <div class="modal-footer">
                     <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                           <button id="send" type="submit" class="btn btn-success">Create hypervisor</button>
                        </div>
                     </div>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddPool" tabindex="-1" role="dialog" 
     aria-labelledby="modalAddPool" aria-hidden="true">
    <div class="modal-dialog" style="  width: 90%; height: 90%; margin-left: 100px;">
        <div class="modal-content"  style="background-color:#ededed">
            <!-- Modal Header -->
            <div class="modal-header">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="modalAddPool">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-object-group"> </i>   Add new Pool
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="background-color:#f7f7f7">
              <form id="modalAdd" class="form-horizontal form-label-left" action="{{ url_for('admin_hypervisors_pools') }}" method="POST" novalidate>
				  <div class="x_panel">
						<div class="x_content">
						 <div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							   <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="name" placeholder="New hypervisor pool name" required="required" type="text">
							</div>
						 </div>
						 <div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							   <textarea id="textarea" name="description" class="form-control col-md-7 col-xs-12"></textarea>
							</div>
						 </div>
					</div>
				  </div>
                  
                   <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_paths" id="tab-paths" role="tab" data-toggle="tab" aria-expanded="true">Paths</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_interfaces" role="tab" id="tab-interfaces" data-toggle="tab" aria-expanded="false">Interfaces/Viewer</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_balancer" role="tab" id="tab-balancer" data-toggle="tab" aria-expanded="false">Balancer</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_paths" aria-labelledby="tab-paths">
                            <div class="x_panel">
                            <div class="x_content">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
										<div class="x_panel" style="background-color:#f7f7f7">
											<div class="col-md-2 col-sm-2 col-xs-12">
												<label class="control-label">Bases
												</label>
											</div>		
                                            <ul class="nav navbar-right panel_toolbox">
                                               <li><a class="table_bases_add"><span
                                                       style="color: #5499c7; "><i class="fa fa-plus"></i> Add base path</span></a>
<!--
                                               <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                               </li>
-->
                                            </ul>								
<!--
											<button id="table_bases_add" type="button" class="btn btn-info">Add base</button>
-->
											<table id="table_bases" class="display">
											  <thead>
												<tr>
												  <th>path</th>
												  <th>disk_operations</th>
												  <th>weight</th>
												</tr>
											  </thead>
											  <tbody>
                                                <tr>
                                                    <th><input name="path" placeholder="Absolute path (/isard/bases)" type="text" style="width:95%"></th>
                                                    <th><select name="disk_operations" class="hyper_list" style="width:95%"></select></th>
                                                    <th><input name="weight" class="form-control col-md-7 col-xs-12 weight-slider" type="text" style="width:95%"></th>
                                                </tr>
											  </tbody>
											</table>
										</div>
                                    
                                    </div>

                                    <div class="row">
										<div class="x_panel" style="background-color:#f7f7f7">
											<div class="col-md-2 col-sm-2 col-xs-12">
												<label class="control-label">Templates
												</label>
											</div>										
											<button id="table_templates_add" type="button" class="btn btn-info">Add template</button>
											<table id="table_templates" class="display">
											  <thead>
												<tr>
												  <th>path</th>
												  <th>disk_operations</th>
												  <th>weight</th>
												</tr>
											  </thead>
											  <tbody>
                                                <tr>
                                                    <th><input name="path" placeholder="Absolute path (/isard/templates)" type="text" style="width:95%"></th>
                                                    <th><select name="disk_operations" class="hyper_list" style="width:95%"></select></th>
                                                    <th><input name="weight" class="form-control col-md-7 col-xs-12 weight-slider" type="text" style="width:95%"></th>
                                                </tr>
											  </tbody>
											</table>
										</div>
                                    </div>
                                
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
										<div class="x_panel" style="background-color:#f7f7f7">
											<div class="col-md-2 col-sm-2 col-xs-12">
												<label class="control-label">Group
												</label>
											</div>										
											<button id="table_groups_add" type="button" class="btn btn-info">Add group</button>
											<table id="table_groups" class="display">
											  <thead>
												<tr>
												  <th>path</th>
												  <th>disk_operations</th>
												  <th>weight</th>
												</tr>
											  </thead>
											  <tbody>
                                                <tr>
                                                    <th><input name="path" placeholder="Absolute path (/isard/groups)" type="text" style="width:95%"></th>
                                                    <th><select name="disk_operations" class="hyper_list" style="width:95%"></select></th>
                                                    <th><input name="weight" class="form-control col-md-7 col-xs-12 weight-slider" type="text" style="width:95%"></th>
                                                </tr>
											  </tbody>
											</table>
										</div>
                                    
                                    </div>

                                    <div class="row">
										<div class="x_panel" style="background-color:#f7f7f7">
											<div class="col-md-2 col-sm-2 col-xs-12">
												<label class="control-label">Isos
												</label>
											</div>										
											<button id="table_isos_add" type="button" class="btn btn-info">Add iso</button>
											<table id="table_isos" class="display">
											  <thead>
												<tr>
												  <th>path</th>
												  <th>disk_operations</th>
												  <th>weight</th>
												</tr>
											  </thead>
											  <tbody>
                                                <tr>
                                                    <th><input name="path" placeholder="Absolute path (/isard/isos)" type="text" style="width:95%"></th>
                                                    <th><select name="disk_operations" class="hyper_list" style="width:95%"></select></th>
                                                    <th><input name="weight" class="form-control col-md-7 col-xs-12 weight-slider" type="text" style="width:95%"></th>
                                                </tr>
											  </tbody>
											</table>
										</div>
                                    </div> 
                                 </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_interfaces" aria-labelledby="tab-interfaces">
                             <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="x_panel">
                                     <div class="x_title">
                                        <h2>Network Interfaces<small></small></h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                           <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                           </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                     </div>
                                     <div class="x_content"> 
                                    <div class="item form-group">
                                        <label>Interfaces:</label>
                                        <select class="form-control" id="interfaces" name="interfaces" style="width:100%">
<!--
                                        <option value="default" selected="selected">Default</option>
-->
                                        </select>
                                    </div>                
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="x_panel">
						 <div class="x_title">
							<h2>Viewer<small></small></h2>
							<ul class="nav navbar-right panel_toolbox">
							   <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
							   </li>
							</ul>
							<div class="clearfix"></div>
						 </div>
						 <div class="x_content"> 
						<div class="item form-group">
							<label>Type:</label>
							<select class="form-control" id="viewer-defaultMode" name="viewer-defaultMode">
							<option value="Secure" selected="selected">Secure (Encrypted, add domain and certificate)</option>
							<option value="Insecure" >Insecure (Plain connection, no need for domain and certificate)</option>
							</select>
						</div>  
						 <div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-domain">Domain
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							   <input id="viewer-domain" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="viewer-domain" placeholder="domain.com" type="text">
							</div>
						 </div>
						 <div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-certificate">Certificate
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							   <textarea id="viewer-certificate" name="viewer-certificate" placeholder="Paste it from BEGIN to END included." class="form-control col-md-7 col-xs-12"></textarea>
							</div>
						 </div>
					</div>
				  </div>
                            </div>
                        </div>
<!--
                        <div role="tabpanel" class="tab-pane fade" id="tab_viewer" aria-labelledby="tab-viewer">

                        </div>
-->
                        <div role="tabpanel" class="tab-pane fade" id="tab_balancer" aria-labelledby="tab-balancer">
                            <div class="x_panel">
                                 <div class="x_title">
                                    <h2>Load balancer<small></small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                       <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                       </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="x_content"> 
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>CPU Idle (avg)</label>
                                            <input id="weights-avg_cpu_idle-weight" name="weights-avg_cpu_idle-weight"/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>CPU Freq (constant)</label>
                                            <input id="weights-cpu_freq-weight" name="weights-cpu_freq-weight"/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>RAM free (now)</label>
                                            <input id="weights-free_memory-weight" name="weights-free_memory-weight"/>
                                    </div>					

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>IO Wait (max)</label>
                                            <input id="weights-io_wait_peaks-weight" name="weights-io_wait_peaks-weight"/>
                                    </div>
                                    
                            </div>
                          </div>					

                        </div>
                      </div>
                    </div>

            </div>
                       
            <!-- Modal Footer -->
            <div class="modal-footer">
                     <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                           <button id="send" type="submit" class="btn btn-success">Create pool</button>
                        </div>
                     </div>
            </div>
            </form>
        </div>
    </div>
</div>



